span.name {
	font-family: TrajanProBold;
	font-size: 30px;
	line-height: 10%;
	color: #4272b4;
}

span.government {
	font-family: TrajanProBold;
	font-size: 24px;
	line-height: 10%;
	color: #4272b4;
}

div.heading {
	padding-top: 1%;
	
}