span.name {
	font-family: TrajanProBold;
	font-size: 220%;
	line-height: 10%;
	color: #4272b4;
}

span.government {
	font-family: TrajanProBold;
	font-size: 170%;
	line-height: 10%;
	color: #4272b4;
}

div.heading {
	padding-top: 1%;
	
}