div.index-content {
	
	padding: 1%;
	background: linear-gradient(to top left, #c4e1ff, #FFFFFF);
	background: -moz-linear-gradient(to top left, #c4e1ff, #FFFFFF);
	background: -o-linear-gradient(to top left, #c4e1ff, #FFFFFF);
	padding: 5%
}

label.introduction {
	font-size: 28px;
	font-family: TrajanProRegular;
	color: #545454;	
}
label.content {
	font-size: 16px;
	font-family: Shonar;
	color: #545454;
	padding: 0.8%;
	text-align: justify;
    text-justify: inter-word;
}