body {
  margin: 0;
}

nav.nav-links {
    list-style-type: none;
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
    background-color: #007FFF;
}

li.header-links {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Book Antiqua;
    font-style: bold;
    font-size: 14px;
}

li a:hover {
    background-color: #0058b1;
}